@model VeterinaryClinic.Models.AppointmentViewModel
@{
    ViewData["Title"] = "AddAppointment";
}

<h2>Add Pet and Vet</h2>

<h4>To Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAppointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PetId" class="control-label"></label>
                <select asp-for="PetId" asp-items="Model.Pets" class="form-control"></select>
                <span asp-validation-for="PetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetId" class="control-label"></label>
                <select asp-for="VetId" asp-items="Model.Vets" class="form-control"></select>
                <span asp-validation-for="VetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" asp-for="Date" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>      
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <select asp-for="Time">
                    @for (DateTime _time = DateTime.Today.AddHours(8); _time < DateTime.Today.AddHours(18); _time = _time.AddMinutes(30))
                    {
                        <option>@(_time.ToShortTimeString())</option>

                    }
                </select>
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script type="text/javascript">
            $(document).ready(function () {
                var userLang = navigator.language || navigator.userLanguage;
                console.log(userLang);
                var options = $.extend({}, // empty object    
                    $datepicker.regional[pt-Pt],{
                    dateFormat: "dd/MM/yyyy"
                });
            $(".date").datepicker(options);
        });
        </script>
        }
}


