@model VeterinaryClinic.Models.AppointmentViewModel
@{
    ViewData["Title"] = "EditAppointment";
}

<!-- Hero Area Start -->
<div style="height: 210px;" class="slider-area2 slider-height2 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap text-center pt-50">
                    <h2>Edit Appointment</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<flash dismissable="true" />
<br />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="EditAppointment" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: flex; flex-direction: column;">
                <label asp-for="PetId" class="control-label"></label>
                <ejs-combobox id="pet" ejs-for="PetId" dataSource="@ViewBag.Pets">
                    <e-combobox-fields value="Value" Text="Text"></e-combobox-fields>
                </ejs-combobox>
                <span asp-validation-for="PetId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: flex; flex-direction: column;">
                <label asp-for="VetId" class="control-label"></label>
                <ejs-combobox id="vet" ejs-for="VetId" dataSource="@ViewBag.Vets">
                    <e-combobox-fields value="Value" Text="Text"></e-combobox-fields>
                </ejs-combobox>
                <span asp-validation-for="VetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <ejs-datepicker id="date" ejs-for="Date" format="dd/MM/yyyy"></ejs-datepicker>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: flex; flex-direction: column;">
                <label asp-for="Time" class="control-label"></label>
                <select asp-for="Time">
                    @for (DateTime _time = DateTime.Today.AddHours(8); _time < DateTime.Today.AddHours(18); _time = _time.AddMinutes(30))
                    {
                        <option>@(_time.ToShortTimeString())</option>

                    }
                </select>
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="button button-contactForm boxed-btn" />
                <a asp-action="Index" class="button button-contactForm boxed-btn"><i class="fa fa-chevron-left"></i>Back to List</a>
            </div>
            
        </form>
       
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


