@model VeterinaryClinic.Models.ContactViewModel
@{
    ViewData["Title"] = "Contact Form";
}

<h1>Contact</h1>

<form method="post" asp-action="SendMail" autocomplete="off">

    <div class="mb-2">
        <label asp-for="Email"></label>
        <select asp-for="Email" asp-items="Model.Customers" class="form-control"></select>
    </div>
    <div class="mb-2">
        <label asp-for="Subject"></label>
        <input asp-for="Subject" type="text" class="form-control" />
    </div>
     <div class="mb-2">
        <label asp-for="Message"></label>
        <textarea asp-for="Message" class="form-control"></textarea>
    </div>
    <input type="submit" class="btn btn-lg btn-primary" value="Send"/>


</form>

