@model VeterinaryClinic.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<!-- Hero Area Start -->
<div style="height: 210px;" class="slider-area2 slider-height2 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap text-center pt-50">
                    <h2>Login</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="col-md-5 offset-md-4 ">
                    <div class="widget p-5" style="background-color: mistyrose ">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="form-group">
                                <label asp-for="Username">Username</label>
                                <input asp-for="Username" class="form-control" />
                                <span asp-validation-for="Username" class="text-warning"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password">Password</label>
                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-warning"></span>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input asp-for="RememberMe" Type="checkbox" class="form-check-input" />
                                    <label asp-for="RememberMe" class="form-check-label">Remember Me?</label>
                                </div>
                                <span asp-validation-for="RememberMe" class="text-warning"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" style="display:flex; flex-direction:row; margin-bottom: 16px;"  class="button button-contactForm boxed-btn"><i class="fa fa-save"></i>Login</button>
                                <a asp-action="Register" style="display:flex; flex-direction:row; margin-bottom: 16px;" class="button button-contactForm boxed-btn"><i class="fa fa-pen"></i>Register New User</a>
                                <a asp-action="RecoverPassword"  class="btn btn-link">Forgot your password?</a>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>

    </div>
</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <!-- JS here -->

        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <!-- Jquery, Popper, Bootstrap -->
        <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
        <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
        <script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

        <!-- Nice-select, sticky -->
        <script src="./assets/js/jquery.nice-select.min.js"></script>
        <script src="./assets/js/jquery.sticky.js"></script>

        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

        <!-- Jquery Plugins, main Jquery -->
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
    }
}