@model VeterinaryClinic.Models.PetViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pet</h4>
<hr />
<flash dismissable="true" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">        
                <label asp-for="DateOfBirth" class="control-label"></label>
                <ejs-datepicker id="date" ejs-for="DateOfBirth" format="dd/MM/yyyy"></ejs-datepicker>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <select asp-for="TypeId" asp-items="Model.Types" class="form-control"></select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <div class="form-group">
                <label asp-for="Gender" class="control-label"></label> <br />
                <label>
                    <input asp-for="Gender" value="Male" type="radio" /> Male
                </label>
                <label>
                    <input asp-for="Gender" value="Female" type="radio" /> Female
                </label>
                </div>           
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" asp-items="Model.Customers" class="form-control"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Create</button>
                <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i>Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            // Manipulando o evento de mudança de valor dos RadioButtons
            $("input[type='radio']").change(function () {
                // Desmarca todos os outros RadioButtons que não são o selecionado
                $("input[type='radio']").not(this).prop('checked', false);
            });
        });
    </script>

}




