@model VeterinaryClinic.Models.PetReportViewModel
@{
    ViewData["Title"] = "EditPetReport";
}

<div style="height: 210px;" class="slider-area2 slider-height2 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap text-center pt-50">
                    <h2>Edit Pet Report</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="EditPetReport" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PetId" class="control-label"></label>
                <ejs-combobox id="pet" ejs-for="PetId" dataSource="@ViewBag.Pets">
                    <e-combobox-fields value="Value" Text="Text"></e-combobox-fields>
                </ejs-combobox>
                <span asp-validation-for="PetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetId" class="control-label"></label>
                <ejs-combobox id="vet" ejs-for="VetId" dataSource="@ViewBag.Vets">
                    <e-combobox-fields value="Value" Text="Text"></e-combobox-fields>
                </ejs-combobox>
                <span asp-validation-for="VetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestName" class="control-label"></label>
                <input asp-for="TestName" class="form-control" />
                <span asp-validation-for="TestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnose" class="control-label"></label>
                <textarea asp-for="Diagnose" class="form-control"></textarea>
                <span asp-validation-for="Diagnose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicineName" class="control-label"></label>
                <input asp-for="MedicineName" class="form-control" />
                <span asp-validation-for="MedicineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="button button-contactForm boxed-btn"><i class="fa fa-save"></i>Save</button>
                <a asp-action="IndexPetReport" class="button button-contactForm boxed-btn"><i class="fa fa-chevron-left"></i>Back to List</a>
            </div>
        </form>
    </div>
</div>


