
@{
    ViewData["Title"] = "EmployeeNotFound";
}

<!-- Hero Area Start -->
<div style="height: 210px;" class="slider-area2 slider-height2 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap text-center pt-50">
                    <h2>Employee Not Found!!!</h2>
                </div>
            </div>
        </div>
    </div>
</div>

